.container {
  width: 300px;
  height: 400px;
  overflow: hidden;
  perspective: 1000px;
}

.menu {
  margin-left: 12rem;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.menuItem {
  height: 80px;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 24px;
  color: white;
  transform: translateZ(50px);
  transition: all 0.3s ease;
  opacity: 0.6;
}

.menuItem.selected {
  transform: translateZ(100px);
  opacity: 1;
}