.container {
  perspective: 1000px;
}

.menu {
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.menuItem {
  height: 40px;
  display: flex;
  justify-content: left;
  font-size: 24px;
  color: white;
  transform: translateZ(50px);
  transition: all 0.3s ease;
  opacity: 0.6;
}

.menuItem.selected {
  transform: translateZ(100px);
  opacity: 1;
}

.menuItem.selected::after {
  content: ''; 
  position: absolute;
  top: 50%; 
  right: 90px; 
  transform: translateY(-100%); 
  width: 9px; 
  height: 9px; 
  background-color: white;
  border-radius: 2px; 
}