.textContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns */
  gap: 13px;
  padding: 20px;
  max-height: 80vh;
  width: 50%;
  overflow-y: auto;
  margin: 0 auto;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.squareThumbnail {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Ensures a square aspect ratio */
  overflow: hidden;
  border-radius: 10px;
}

.squareThumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: box-shadow 1s ease-in-out, transform 1s ease-in-out;
}

.squareThumbnail:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(137 255 59 / 80%);
  transform: scale(1.05);
}

.imageTitle {
  margin-top: 3px;
  font-size: 0.8rem;
  color: #fff;
  text-transform: capitalize;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 90%);
  z-index: -1;
}

.modal img {
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(255 255 255 / 50%);
  cursor: pointer;
}
