.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgba(30, 30, 30, 0.3);
    position: relative;
    transition: background-color 0.5s ease-in-out;
  }
  
  .pageContainer.exiting {
    background-color: rgba(30, 30, 30, 0);
  }
  
  .animationContainer {
    align-items: center;
    display: flex;
    justify-content: center;
  }
    
  .titleContainer {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3rem auto auto 10rem; ;
  }
  
  .window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: auto;
    background: linear-gradient(135deg, #222C33,rgb(70, 83, 88));
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: white;
  }

  .windowReflection {
    -webkit-box-reflect: below 15px
      -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        color-stop(85%, transparent),
        to(rgba(250, 250, 250, 0.2))
      );
  }
  
  .closeButtonWrapper {
    position: absolute;
    top: 80px;
    right: 150px;
    background: rgba(0, 0, 0, 0);
  }
  
  .closeButton {
    background: rgba(0, 0, 0, 0); /* Transparent background */
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
  }
  
  
  .closeIcon {
    fill: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5)); /* White glow effect */
    transition: stroke-width 0.3s ease-in-out, filter 0.3s ease-in-out, fill 0.3s ease-in-out;
    stroke-width: 1.5;
  }
  
  .closeButton:hover .closeIcon {
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 1));
    stroke-width: 3;
  }