.dashboardContainer {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  position: relative; 
}

.arrowContainer {
  display: flex;
  align-items: center; /* Center the arrow within its container */
  justify-content: center;
  margin-right: 10px; /* Add spacing between arrow and section */
}

.leftArrow {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  z-index: 100; /* Ensure it stays above other elements */
}

.leftArrow:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.1); /* Add hover effect */
}

.sectionContainer {
  display: flex;
  flex-direction: column; /* Stack section and cardPosition vertically */
  width: 100%; /* Ensure it takes full width */
}

.section {
  flex: 1; /* Allow the section to take up remaining space */
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 50vh;
  width: auto;
  padding: 20px;
  min-height: 220px;
}

.section::after {
  content: ''; 
  position: absolute;
  right: 0;
  width: 10px; /* Width of the pulsating edge */
  height: 30%; 
  top: 50%; /* Start at the middle of the container */
  transform: translateY(-50%); /* Center the pseudo-element vertically */
  pointer-events: none;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Fading gradient effect */
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7), 
              0 0 40px 20px rgba(255, 255, 255, 0.5), 
              0 0 60px 30px rgba(255, 255, 255, 0.3);
  animation: pulse 1.5s infinite ease-in-out;
}

.position {
  margin-top: 10px;
  height:100px;
  text-align: left;
  font-size: 14px;
  color: #fff; 
  backgroundColor: white;
}


.card {
  height: 300px;

  position: absolute; 
  left: 0;
  right: 0;

  transform-origin: center;
  transition: transform 0.3s ease, z-index 0.3s ease;
  opacity: 0;
  z-index: 0;
  
  scroll-snap-align: center;
}

.card:first-child {
  z-index: 1; 
  transform: scale(1.1); 
}

.card.selected {
  border: 2px solid rgba(255, 255, 255, 0.5); /* Subtle border */
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7), 
              0 0 40px 20px rgba(255, 255, 255, 0.5), 
              0 0 60px 30px rgba(255, 255, 255, 0.3);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6), 
                0 0 20px 10px rgba(255, 255, 255, 0.4), 
                0 0 30px 15px rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8), 
                0 0 40px 20px rgba(255, 255, 255, 0.6), 
                0 0 60px 30px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6), 
                0 0 20px 10px rgba(255, 255, 255, 0.4), 
                0 0 30px 15px rgba(255, 255, 255, 0.2);
  }
}

