.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgba(30, 30, 30, 0.5);
  position: relative;
  transition: background-color 0.5s ease-in-out;
}

.pageContainer.exiting {
  background-color: rgba(30, 30, 30, 0); /* Fades to transparent */
}

.animationContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}
  
.titleContainer {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: 3rem auto auto 10rem; ;
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: auto;
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;
}

.closeButtonWrapper {
  position: absolute;
  top: 80px;
  right: 150px;
  background: rgba(0, 0, 0, 0);
}

.closeButton {
  background: rgba(0, 0, 0, 0); /* Transparent background */
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
}


.closeIcon {
  fill: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5)); /* White glow effect */
  transition: stroke-width 0.3s ease-in-out, filter 0.3s ease-in-out, fill 0.3s ease-in-out;
  stroke-width: 1.5;
}

.closeButton:hover .closeIcon {
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 1));
  stroke-width: 3;
}