.container {
    padding: 20px;
    overflow-y: auto;
    max-height: 500px;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: transparent;
}

.container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 8px;
    background: rgb(47,46,46);
    background: linear-gradient(0deg, rgba(47,46,46,1) 2%, rgb(77, 77, 77) 100%);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color:rgb(134, 190, 255);
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}
  