.backgroundWrapper {
  width: 100%;
  height: 100%;
}

.screen {
  width: 100%;
  height: 100vh;
  filter: contrast(120%) saturate(110%);
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: transparent;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4%;
  margin-left: 8%;
  margin-right: 8%;
  height: 30vh; /* Use viewport height for consistency */
}

.ScrollingMenuContainer {
  width: 20%; /* Define a fixed width for the menu */
  display: flex; /* Optional: For content alignment inside */
  justify-content: center;
  align-items: center;
}

.ProfileCardContainer {
  width: 25%; /* Define a fixed width for the profile card */
  display: flex; /* Optional: For content alignment inside */
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
  margin-bottom: 15vh;
}

.DashboardContainer {
  width: 90%;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin-bottom: 30px;
  background: transparent
}

.VolumeControlContainer {
  transform: translateY(-10%);
  margin-right: 150px;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .topContainer {
    margin-top: 15%;
    margin-left: 4%;
    margin-right: 10%;
    flex-direction: row;
    height: auto;
    gap: 20px;
  }
  
  .ScrollingMenuContainer,
  .ProfileCardContainer {
    width: 100%;
  }

  
  .DashboardContainer {
    width: 100%;
    margin-left: 0%;
  }
  
  .VolumeControlContainer {
    margin-right: 20px;
    justify-content: center;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-bottom: 10px;
    background: transparent
  }

  .VolumeControlContainer {
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
    margin-bottom: 15vh;
  }
}