.backgroundWrapper {
  width: 100%;
  height: 100%;
}

.screen {
  width: 100%;
  height: 100%;
  filter: contrast(120%) saturate(110%);
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4%;
  margin-left: 8%;
  margin-right: 8%;
  height: 30%;
}

.VolumeControlContainer {
  transform: translateY(-10%);
  margin-right: 150px;
  display: flex;
  justify-content: flex-end;
}

.ScrollingMenuContainer {
  width: 20%; /* Define a fixed width for the menu */
  display: flex; /* Optional: For content alignment inside */
  justify-content: center;
  align-items: center;
}

.ProfileCardContainer {
  width: 25%; /* Define a fixed width for the profile card */
  display: flex; /* Optional: For content alignment inside */
  justify-content: center;
  align-items: center;
}

.DashboardContainer {
  width: 90%;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
}






