.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive grid */
  gap: 2rem;
  padding: 20px;
  height: 80vh;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 30%); /* Bevel scrollbar base color */
  border-radius: 10px;
  box-shadow: inset -1px -1px 2px rgb(0 0 0 / 50%),
    /* Inner shadow for bevel */ inset 1px 1px 2px rgb(255 255 255 / 70%); /* Highlight for emboss */
}

.container::-webkit-scrollbar-thumb:hover {
  background: rgb(255 255 255 / 50%); /* Hover effect for scrollbar */
  box-shadow: inset -1px -1px 2px rgb(0 0 0 / 70%),
    inset 1px 1px 2px rgb(255 255 255 / 90%); /* Stronger highlight on hover */
}

.articleCard {
  padding: 15px;
  background: linear-gradient(135deg, #222c33, rgb(70 83 88));
  border-radius: 10px;
  border: 3px solid rgb(255 255 255 / 10%);
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  padding: 20px;
  color: white;
}

.articleCard h3 {
  margin: 0 0 10px;
}

.coverImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.articleCard p {
  margin: 0 0 5px;
}

.articleCard a {
  color: #0070f3;
  text-decoration: none;
}

.articleCard a:hover {
  text-decoration: underline;
}
