.dashboardContainer {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  position: relative; 
  height: 350px;
}

.arrowContainer {
  display: flex;
  align-items: center; /* Center the arrow within its container */
  justify-content: center;
  margin-right: 10px; /* Add spacing between arrow and section */
}

.leftArrow,
.rightArrow {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
  margin-right: 40px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.leftArrow:hover,
.rightArrow:hover {
  transform: scale(1.6); 
  animation: jiggle 0.5s ease-in-out infinite;
  opacity: 8;
}

@keyframes jiggle {
  0%, 100% {
    transform: scale(1.2) rotate(0deg); /* Normal hover size */
  }

  25% {
    transform: scale(1.2) rotate(-10deg); /* Rotate left */
  }

  50% {
    transform: scale(1.2) rotate(10deg); /* Rotate right */
  }

  75% {
    transform: scale(1.2) rotate(-5deg); /* Subtle adjustment */
  }
}

.sectionContainer {
  display: flex;
  flex-direction: column; /* Stack section and cardPosition vertically */
  width: 100%; /* Ensure it takes full width */
  height: 100%; /* Ensure it takes full height */
}

.section {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 50vh;
  width: auto;
  padding-top: 50px;
  padding-bottom:100px;
  min-height: 220px;
}

.position {
  height:auto;
  margin-top: -50px;
  margin-left: 25px;
  text-align: left;
  font-size: 14px;
  display: inline-block;
  color: white;
}


.card {
  height: 300px;
  position: absolute; 
  left: 0;
  right: 0;
  transform-origin: center;
  transition: transform 0.3s ease, z-index 0.3s ease;
  opacity: 0;
  z-index: 0;
  scroll-snap-align: center;
}

.card:first-child {
  z-index: 1; 
  transform: scale(1.1); 
}

.card.selected {
  border: 2px solid rgb(255 255 255 / 50%); /* Subtle border */
  box-shadow: 0 0 20px 10px rgb(255 255 255 / 70%), 
              0 0 40px 20px rgb(255 255 255 / 50%), 
              0 0 60px 30px rgb(255 255 255 / 30%);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px 5px rgb(255 255 255 / 60%), 
                0 0 20px 10px rgb(255 255 255 / 40%), 
                0 0 30px 15px rgb(255 255 255 / 20%);
  }

  50% {
    box-shadow: 0 0 20px 10px rgb(255 255 255 / 80%), 
                0 0 40px 20px rgb(255 255 255 / 60%), 
                0 0 60px 30px rgb(255 255 255 / 40%);
  }

  100% {
    box-shadow: 0 0 10px 5px rgb(255 255 255 / 60%), 
                0 0 20px 10px rgb(255 255 255 / 40%), 
                0 0 30px 15px rgb(255 255 255 / 20%);
  }
}

