.card {
  display: flex;
  border-radius: 10px;
  padding: 15px;
  color: white;
  font-family: "Segoe UI", Arial, sans-serif;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%),
    inset 0 1px 0 rgb(255 255 255 / 10%);
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: linear-gradient(
    145deg,
    rgb(255 255 255 / 30%),
    rgb(111 175 68 / 40%)
  );
}

.card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%),
    inset 0 1px 0 rgb(255 255 255 / 20%);
  background: linear-gradient(
    145deg,
    rgb(255 255 255 / 70%),
    rgb(111 175 68 / 70%)
  );
}

.card:hover::before {
  top: -30%;
  left: -30%;
}

.card:hover::after {
  opacity: 1;
}

.avatarWrapper {
  position: relative;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 4px;
}

.profileIcon {
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.name {
  font-size: 18px;
  margin: 0 0 4px;
}


.gamerscore {
  display: flex;
  font-size: 20px;
  color: white;
  margin: 0;
}

.gamerscore img {
  margin: 4px;
}



